include LICENSE README.md CHANGELOG.md CONTRIBUTING.md
graft macaddress
graft tests

prune .github
prune scripts

global-exclude *.py[cod] __pycache__ *.so *.class
exclude *.yml tox.ini Dockerfile .editorconfig
exclude conf.py index.md make.bat Makefile packaging.md
exclude releasing.md requirements.txt TODO.md